<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:0px 20px 20px 20px;">
			<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
				<tr>
					<td align="left" width="15%">
						<span
							><img
								alt="optus sport"
								src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/2/0c6aed91-07d0-4634-a9f5-6959f8569d20.jpg"
								width="70%"
							/>
						</span>
					</td>
					<td style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;" width="70%">
						<span style="color: #6b1f7c;font-weight: bold;">Bushfire support</span><br />
						<span>We're here to help.</span> If your service has been impacted please call
						<a href="%%=RedirectTo(@BushFireHelpCall)=%%" title="Call us"
							><span style="color: #6b1f7c;text-decoration:underline;font-weight:bold;">1300 555 100</span></a
						>.
					</td>
					<td width="15%"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
