<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:0px 10px 20px 10px;">
			<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
				<tr>
					<td
						style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;mso-line-height-rule:exactly;padding-bottom: 16px;"
					>
						Hi%%=IIF(EMPTY(@FirstName),'',CONCAT(' ',PROPERCASE(TRIM(@FirstName))))=%%,
					</td>
				</tr>
				<tr>
					<td
						align="right"
						style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;mso-line-height-rule:exactly;padding-bottom: 16px;text-decoration: underline;"
					>
						Mobile service ending in <span style="color: #6b1f7c;">%%service_number%%</span>
					</td>
				</tr>
				<tr>
					<td
						style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;mso-line-height-rule:exactly;padding-bottom: 16px;"
					>
						Firstly, the whole team want to say a massive thank you for being a part of the Virgin Mobile family. As you know, the Virgin
						Mobile brand is being phased out in 2020, and we want to make sure you&acute;re ready.
					</td>
				</tr>
				<tr>
					<td
						style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;mso-line-height-rule:exactly;padding-bottom: 16px;"
					>
						The Virgin Mobile Broadband service will close on <span style="color: #6b1f7c;font-weight:bold;">3 April 2020</span>. You can
						use your Mobile Broadband up until <span style="color: #6b1f7c;font-weight:bold;">3 April 2020</span>. You will no longer be
						able to use the service after this time. We&acute;ll send you reminders leading up to the closure to ensure you&acute;re well
						informed.
					</td>
				</tr>
				<tr>
					<td
						style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;mso-line-height-rule:exactly;padding-bottom: 16px;"
					>
						To make sure you&acute;re not without a service after <span style="color: #6b1f7c;font-weight:bold;">3 April 2020</span>, you
						might want to consider moving to another provider prior to the closure. Virgin Mobile already uses the Optus network and we
						think it&acute;s worth checking out what our friends over at
						<a
							href="%%=RedirectTo(@BodyCopyURL)=%%"
							style="color: #6b1f7c;text-decoration:underline;font-weight:bold;"
							title="Switch Today"
							>Optus</a
						>
						have to offer.
					</td>
				</tr>
				<tr>
					<td style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;mso-line-height-rule:exactly;">
						If you&acute;re still unsure of something or have a question, have a look at our
						<a href="%%=RedirectTo(@FAQPageURL)=%%" style="color: #6b1f7c;text-decoration:underline;font-weight:bold;" title="FAQs page"
							>FAQs page</a
						>
						or call us on
						<a href="%%=RedirectTo(@CTATeleUrl)=%%" title="Call us"
							><span style="color: #6b1f7c;text-decoration:underline;font-weight:bold;">13 63 69</span></a
						>.
					</td>
				</tr>
				<tr>
					<td style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;padding-top:20px;">
						Cheers,<br />
						<span style="font-weight:bold;">The Virgin Mobile Team</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
